.heroBody {
    background-image: url('https://www.elitefts.com/media/catalog/category/Category_Banner_weights.jpg');
    background-repeat: no-repeat;
    object-fit: cover;
    color: white;
    background-attachment: fixed;
    background-size: 100%;
    background-color: rgba(40, 32, 32, 0.441); /* Tint color */
    background-blend-mode: multiply;
    height: 10vh;
    width: 100%;
}

.liftr {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2.3%;
}

.siteLogo {
    justify-content: center;
}

.background-tint {
    background-color: rgba(200,100,0,.5); /* Tint color */
    background-blend-mode: multiply;
  }

.title {
    text-align: center;
}

.lead {
    text-align: center;
}

@media only screen and (max-width: 700px) {
	.rosterBox {
		display: column;
		display: flex;
		word-wrap: wrap;
	}
}