.headerLogo {
   width: 60px;
   height: 50px;
   margin-right: 4vw;
}

.logoutButton{
   display: block;
   width: 250px;
   height: 50px;
   line-height: 50px;
   font-weight: bold;
   text-decoration: none;
   background: #333;
   text-align: center;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 1px;
   border: 3px solid #333;
   transition: all .35s;
   border-radius: 15px;
 }
 
 .icon{
   width: 50px;
   height: 50px;
   border: 3px solid transparent;
   position: absolute;
   transform: rotate(45deg);
   right: 0;
   top: 0;
   z-index: -1;
   transition: all .35s;
 }

 
 .logoutButton:hover{
   width: 200px;
   border: 3px solid #cf1f0f;
   background: transparent;
   color: #cf1f0f;
 }
 
 .logoutButton:hover + .icon{
   border: 3px solid #cf1f0f;
   right: -25%;
 }


 @media only screen and (max-width: 768px) {
  .headerLogo {
    display: none;
  }
  .container a .logoutButton {
    justify-content: center;
    align-items: center;
  }
}
